*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --base-800: #02101D;
    --base-700: #112333;
    --base-600: #283D4E;
    --base-500: #43586A;
    --base-400: #617485;
    --base-300: #8092A1;
    --base-200: #A3B0BB;
    --base-100: #C6CFD7;
    --base-50: #E3E9EE;

    --primary-800: #2C0808;
    --primary-700: #4C060C;
    --primary-600: #681117;
    --primary-500: #8D091B;
    --primary-brand: #AD0A23;
    --primary-300: #C13B3F;
    --primary-200: #D06260;
    --primary-100: #DE8581;
    --primary-50: #EAA7A2;

    --brand-secondary: #00DDFF;

    --utility-yellow: #E1FF00;
    --utility-red: #FF0000;
    --utility-green: #11FF00;
    --utility-purple: #9500FF;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'Inria Serif', Georgia, 'Times New Roman', serif;
    background-color: var(--base-800);
    color: var(--base-50);
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}


/*Input Section Styles*/


#input-area {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    align-items: left;
    gap: 44px;
    padding: 28px;
    border-right: .5px solid var(--base-300) ;
}

label {
    font-size: .8rem;
    color: var(--base-300);
}

#search {
    font: inherit;
    height: 42px;
    width: 100%;
    color: var(--base-50);
}

.full-form-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#form-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.two-input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.rating-section,
.status-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 112px;
}

.date-input-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-range {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#start-date,
#end-date {
    width: 112px;
}

input,
textarea,
select {
    font: inherit;
    background: var(--base-700);
    color: var(--base-100);
    border: 1.5px solid var(--base-300);
    border-radius: 4px;
    height: 28px;
    padding:  0.5rem 0.75rem;
}

input:focus,
textarea:focus,
select:focus {
    border: 1.5px solid var(--primary-brand);
}

::placeholder {
    color: var(--base-50);
}

button {
    font: inherit;
    background-color: var(--primary-brand);
    color: var(--base-50);
    border: none;
    border-radius: 40px;
    height: 36px;
}


/*Library Section Styles*/


.library-viewport {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
    width: 100vw;
}

#library {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 28px;
}

#output-area {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding: 40px;
    width: 100%;
    max-width: 1600px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.welcome-sentence {
    font-size: .9rem;
    color: var(--base-50);
    font-style: italic;
}

.utility-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

details > summary {
    list-style: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0;
}

details > summary::-webkit-details-marker { display: none; }

details > summary::after {
  content: "";
  inline-size: 0.6rem;
  block-size: 0.6rem;
  border-block-end: 2px solid var(--primary-brand);
  border-inline-end: 2px solid var(--primary-brand);
  transform: rotate(-45deg);
  transition: transform .2s ease;
}

details[open] > summary::after {
  transform: rotate(45deg);
}
.book-list {
    margin: 0; padding: 0; list-style: none;
    background-color: var(--base-500);
    height: 48px;
    border-radius: 16px;
    padding: 0 26px 0 26px;
    display: flex;
    align-items: center;
}

.book-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*
.book-row {
    display: grid;
    grid-template-columns:
        16px
        1fr
        1px
        1fr
        1px
        1fr
        1px
        64px
        1px
        100px
        24px
        100px
        1px
        40px;
    align-items: center;
    column-gap: 12px;
}
*/

.status-dot { inline-size: .75rem; block-size: .75rem; border-radius: 50%; background: var(--utility-green);;}
.book-row[data-status="reading"]   .status-dot { background: var(--utility-yellow); }
.book-row[data-status="to-read"]   .status-dot { background: var(--utility-purple); }
.book-row[data-status="abandoned"] .status-dot { background: var(--utility-red); }
.divider { inline-size: 1px; block-size: 1rem; background: var(--base-700); }

.book-row > span {
    text-align: center;
}

.shelf-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shelf-header {
    color: var(--base-50);
}

.shelf-header-recent {
    color: var(--primary-brand);
}